
h1 img{
    width: 489px;
    margin: 20px;
}
input{
    border: 1px solid #000000;
    background: #fdfdfd;
    font-size: 20px;
    padding: 10px;
    margin: 4px;

}
button{
    border: 1px solid #000000;
    background: #d8d8d8;
    font-size: 20px;
    padding: 10px;
}
.result{
    padding: 10px;
    border: 1px solid #d8d8d8;
    background: #fdfdfd;
}
.tela{
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,.5)
}
.converter{
    height: 15rem;
}
.convertimage{
    background-color: #38184C;
    border-radius:0px 10px 10px 0px;
}

@media only screen and (max-width: 600px) {
    .convertimage{
        visibility:hidden;
    }
    .headerimg{
        width: 15rem;
        height: 3rem;
    }
 
}